@namespace ibooks "http://www.apple.com/2011/iBooks";
#textShape-255{
	-ibooks-line-hints: textShape-255 p url(../hints/content2-paginated.plist) 0 8;
}
#textShape-180{
	-ibooks-line-hints: textShape-180 p url(../hints/content2-paginated.plist) 43 1;
}
#textShape-90{
	-ibooks-line-hints: textShape-90 p url(../hints/content2-paginated.plist) 9 1;
}
#textShape-70{
	-ibooks-line-hints: textShape-70 p url(../hints/content2-paginated.plist) 44 1;
}
#textShape-59{
	-ibooks-line-hints: textShape-59 p url(../hints/content2-paginated.plist) 10 1;
}
#textShape-181{
	-ibooks-line-hints: textShape-181 p url(../hints/content2-paginated.plist) 45 1;
}
#textShape-252{
	-ibooks-line-hints: textShape-252 p url(../hints/content2-paginated.plist) 8 1;
}
#textShape-176{
	-ibooks-line-hints: textShape-176 p url(../hints/content2-paginated.plist) 21 22;
}
#textShape-117{
	-ibooks-line-hints: textShape-117 p url(../hints/content2-paginated.plist) 47 1;
}
#textShape-29{
	-ibooks-line-hints: textShape-29 p url(../hints/content2-paginated.plist) 73 1;
}
#textShape-118{
	-ibooks-line-hints: textShape-118 p url(../hints/content2-paginated.plist) 48 25;
}
#textShape-448{
	-ibooks-line-hints: textShape-448 p url(../hints/content2-paginated.plist) 46 1;
}
#textShape-233{
	-ibooks-line-hints: textShape-233 p url(../hints/content2-paginated.plist) 19 1;
}
#textShape-212{
	-ibooks-line-hints: textShape-212 p url(../hints/content2-paginated.plist) 11 8;
}
#textShape-131{
	-ibooks-line-hints: textShape-131 p url(../hints/content2-paginated.plist) 20 1;
}
@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(textShape-237)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 801.000pt;
		left: -11.000pt;
		top: 0.000pt;
		width: 1061.000pt;
		z-index: 1;
	}
	::slot(textShape-255)
	{
		height: 347.000pt;
		left: 133.000pt;
		top: 194.000pt;
		width: 773.000pt;
		z-index: 2;
	}
	-ibooks-positioned-slots: textShape-237, textShape-255;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(textShape-211)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 818.000pt;
		left: -9.000pt;
		top: -35.000pt;
		width: 1042.000pt;
		z-index: 1;
	}
	::slot(textShape-252)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 715.000pt;
		width: 923.000pt;
		z-index: 2;
	}
	::slot(textShape-90)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 715.000pt;
		width: 923.000pt;
		z-index: 3;
	}
	::slot(textShape-59)
	{
		height: 28.000pt;
		left: 50.000pt;
		top: 707.000pt;
		width: 488.000pt;
		z-index: 4;
	}
	::slot(textShape-212)
	{
		height: 257.000pt;
		left: 54.000pt;
		top: 275.040pt;
		width: 923.000pt;
		z-index: 5;
	}
	::slot(textShape-233)
	{
		height: 64.000pt;
		left: 54.000pt;
		top: 194.000pt;
		width: 285.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: textShape-211, textShape-252, textShape-90, textShape-59, textShape-212, textShape-233;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(textShape-131)
	{
		height: 20.000pt;
		left: 50.000pt;
		top: 715.000pt;
		width: 923.000pt;
		z-index: 1;
	}
	::slot(textShape-176)
	{
		height: 491.000pt;
		left: 54.000pt;
		top: 196.000pt;
		width: 923.000pt;
		z-index: 2;
	}
	::slot(textShape-180)
	{
		height: 128.000pt;
		left: 50.000pt;
		top: 40.000pt;
		width: 902.000pt;
		z-index: 3;
	}
	::slot(textShape-70)
	{
		height: 28.000pt;
		left: 50.000pt;
		top: 707.000pt;
		width: 488.000pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-131, textShape-176, textShape-180, textShape-70;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(textShape-181)
	{
		height: 20.000pt;
		left: 836.000pt;
		top: 715.000pt;
		width: 137.000pt;
		z-index: 1;
	}
	::slot(textShape-448)
	{
		height: 28.000pt;
		left: 50.000pt;
		top: 707.000pt;
		width: 488.000pt;
		z-index: 2;
	}
	::slot(textShape-117)
	{
		height: 52.000pt;
		left: 50.000pt;
		top: 40.000pt;
		width: 902.000pt;
		z-index: 3;
	}
	::slot(textShape-118)
	{
		height: 503.000pt;
		left: 52.000pt;
		top: 196.000pt;
		width: 918.000pt;
		z-index: 4;
	}
	::slot(textShape-29)
	{
		height: 28.000pt;
		left: 68.000pt;
		top: 634.000pt;
		width: 481.000pt;
		z-index: 5;
	}
	::slot(image-0)
	{
		height: 223.200pt;
		left: 38.000pt;
		top: 430.000pt;
		width: 458.236pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: textShape-181, textShape-448, textShape-117, textShape-118, textShape-29, image-0;
}

