@namespace ibooks "http://www.apple.com/2011/iBooks";
#textShape-986{
	-ibooks-line-hints: textShape-986 p url(../hints/content6-paginated.plist) 88 4;
}
#textShape-179{
	-ibooks-line-hints: textShape-179 p url(../hints/content6-paginated.plist) 252 1;
}
#textShape-981{
	-ibooks-line-hints: textShape-981 p url(../hints/content6-paginated.plist) 79 7;
}
#textShape-6{
	-ibooks-line-hints: textShape-6 p url(../hints/content6-paginated.plist) 17 2;
}
#textShape-12{
	-ibooks-line-hints: textShape-12 p url(../hints/content6-paginated.plist) 19 2;
}
#textShape-650{
	-ibooks-line-hints: textShape-650 p url(../hints/content6-paginated.plist) 39 1;
}
#textShape-646{
	-ibooks-line-hints: textShape-646 p url(../hints/content6-paginated.plist) 22 1;
}
#textShape-156{
	-ibooks-line-hints: textShape-156 p url(../hints/content6-paginated.plist) 210 7;
}
#textShape-160{
	-ibooks-line-hints: textShape-160 p url(../hints/content6-paginated.plist) 239 1;
}
#textShape-151{
	-ibooks-line-hints: textShape-151 p url(../hints/content6-paginated.plist) 183 25;
}
#textShape-147{
	-ibooks-line-hints: textShape-147 p url(../hints/content6-paginated.plist) 208 1;
}
#textShape-989{
	-ibooks-line-hints: textShape-989 p url(../hints/content6-paginated.plist) 117 1;
}
#textShape-195{
	-ibooks-line-hints: textShape-195 p url(../hints/content6-paginated.plist) 241 10;
}
#textShape-177{
	-ibooks-line-hints: textShape-177 p url(../hints/content6-paginated.plist) 251 1;
}
#textShape-48{
	-ibooks-line-hints: textShape-48 p url(../hints/content6-paginated.plist) 156 1;
}
#textShape-653{
	-ibooks-line-hints: textShape-653 p url(../hints/content6-paginated.plist) 41 17;
}
#textShape-649{
	-ibooks-line-hints: textShape-649 p url(../hints/content6-paginated.plist) 24 15;
}
#textShape-51{
	-ibooks-line-hints: textShape-51 p url(../hints/content6-paginated.plist) 178 1;
}
#textShape-644{
	-ibooks-line-hints: textShape-644 p url(../hints/content6-paginated.plist) 16 1;
}
#textShape-991{
	-ibooks-line-hints: textShape-991 p url(../hints/content6-paginated.plist) 118 1;
}
#textShape-987{
	-ibooks-line-hints: textShape-987 p url(../hints/content6-paginated.plist) 92 15;
}
#textShape-54{
	-ibooks-line-hints: textShape-54 p url(../hints/content6-paginated.plist) 179 1;
}
#textShape-656{
	-ibooks-line-hints: textShape-656 p url(../hints/content6-paginated.plist) 59 1;
}
#textShape-969{
	-ibooks-line-hints: textShape-969 p url(../hints/content6-paginated.plist) 86 1;
}
#textShape-161{
	-ibooks-line-hints: textShape-161 p url(../hints/content6-paginated.plist) 231 7;
}
#textShape-80{
	-ibooks-line-hints: textShape-80 p url(../hints/content6-paginated.plist) 217 12;
}
#textShape-985{
	-ibooks-line-hints: textShape-985 p url(../hints/content6-paginated.plist) 108 1;
}
#textShape-9{
	-ibooks-line-hints: textShape-9 p url(../hints/content6-paginated.plist) 119 19;
}
#textShape-971{
	-ibooks-line-hints: textShape-971 p url(../hints/content6-paginated.plist) 87 1;
}
#textShape-654{
	-ibooks-line-hints: textShape-654 p url(../hints/content6-paginated.plist) 58 1;
}
#textShape-645{
	-ibooks-line-hints: textShape-645 p url(../hints/content6-paginated.plist) 21 1;
}
#textShape-155{
	-ibooks-line-hints: textShape-155 p url(../hints/content6-paginated.plist) 230 1;
}
#textShape-1{
	-ibooks-line-hints: textShape-1 p url(../hints/content6-paginated.plist) 138 1;
}
#textShape-8{
	-ibooks-line-hints: textShape-8 p url(../hints/content6-paginated.plist) 139 1;
}
#textShape-992{
	-ibooks-line-hints: textShape-992 p url(../hints/content6-paginated.plist) 109 8;
}
#textShape-150{
	-ibooks-line-hints: textShape-150 p url(../hints/content6-paginated.plist) 180 3;
}
#textShape-983{
	-ibooks-line-hints: textShape-983 p url(../hints/content6-paginated.plist) 107 1;
}
#textShape-56{
	-ibooks-line-hints: textShape-56 p url(../hints/content6-paginated.plist) 157 21;
}
#textShape-46{
	-ibooks-line-hints: textShape-46 p url(../hints/content6-paginated.plist) 155 1;
}
#textShape-657{
	-ibooks-line-hints: textShape-657 p url(../hints/content6-paginated.plist) 60 19;
}
#textShape-652{
	-ibooks-line-hints: textShape-652 p url(../hints/content6-paginated.plist) 40 1;
}
#textShape-648{
	-ibooks-line-hints: textShape-648 p url(../hints/content6-paginated.plist) 23 1;
}
#textShape-158{
	-ibooks-line-hints: textShape-158 p url(../hints/content6-paginated.plist) 238 1;
}
#textShape-643{
	-ibooks-line-hints: textShape-643 p url(../hints/content6-paginated.plist) 0 16;
}
#textShape-153{
	-ibooks-line-hints: textShape-153 p url(../hints/content6-paginated.plist) 229 1;
}
#textShape-49{
	-ibooks-line-hints: textShape-49 p url(../hints/content6-paginated.plist) 140 15;
}
#textShape-149{
	-ibooks-line-hints: textShape-149 p url(../hints/content6-paginated.plist) 209 1;
}
#textShape-89{
	-ibooks-line-hints: textShape-89 p url(../hints/content6-paginated.plist) 240 1;
}
@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(textShape-641)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 794.000pt;
		left: -2.000pt;
		top: -35.000pt;
		width: 1031.000pt;
		z-index: 1;
	}
	::slot(textShape-642)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 384.000pt;
		left: -6.000pt;
		top: 370.080pt;
		width: 1038.000pt;
		z-index: 2;
	}
	::slot(textShape-643)
	{
		height: 263.000pt;
		left: 49.316pt;
		top: 423.000pt;
		width: 907.000pt;
		z-index: 3;
	}
	::slot(textShape-644)
	{
		height: 59.000pt;
		left: 48.000pt;
		top: 55.000pt;
		width: 421.000pt;
		z-index: 4;
	}
	::slot(textShape-6)
	{
		height: 178.000pt;
		left: 47.333pt;
		top: 50.000pt;
		width: 661.000pt;
		z-index: 5;
	}
	::slot(textShape-12)
	{
		height: 166.000pt;
		left: 48.000pt;
		top: 178.400pt;
		width: 615.000pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: textShape-641, textShape-642, textShape-643, textShape-644, textShape-6, textShape-12;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(frame-10)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 648.000pt;
		left: 21.000pt;
		top: 37.000pt;
		width: 388.000pt;
		z-index: 1;
	}
	::slot(textShape-645)
	{
		height: 20.000pt;
		left: 836.000pt;
		top: 715.000pt;
		width: 137.000pt;
		z-index: 2;
	}
	::slot(textShape-646)
	{
		height: 50.495pt;
		left: 51.000pt;
		top: 15.000pt;
		width: 596.694pt;
		z-index: 3;
	}
	::slot(textShape-648)
	{
		height: 28.000pt;
		left: 49.479pt;
		top: 707.089pt;
		width: 488.000pt;
		z-index: 4;
	}
	::slot(textShape-649)
	{
		height: 616.000pt;
		left: 407.000pt;
		top: 98.400pt;
		width: 560.000pt;
		z-index: 5;
	}
	::slot(textShape-514)
	{
		height: 0.012pt;
		left: -13.000pt;
		top: 69.120pt;
		width: 1041.410pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: frame-10, textShape-645, textShape-646, textShape-648, textShape-649, textShape-514;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(textShape-650)
	{
		height: 20.000pt;
		left: 836.000pt;
		top: 715.000pt;
		width: 137.000pt;
		z-index: 1;
	}
	::slot(textShape-652)
	{
		height: 28.000pt;
		left: 49.479pt;
		top: 707.089pt;
		width: 488.000pt;
		z-index: 2;
	}
	::slot(textShape-653)
	{
		height: 630.000pt;
		left: 408.000pt;
		top: 98.400pt;
		width: 564.000pt;
		z-index: 3;
	}
	::slot(textShape-515)
	{
		height: 0.012pt;
		left: -9.000pt;
		top: 69.000pt;
		width: 1041.410pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-650, textShape-652, textShape-653, textShape-515;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(textShape-654)
	{
		height: 20.000pt;
		left: 836.000pt;
		top: 715.000pt;
		width: 137.000pt;
		z-index: 1;
	}
	::slot(textShape-656)
	{
		height: 28.000pt;
		left: 49.479pt;
		top: 707.089pt;
		width: 488.000pt;
		z-index: 2;
	}
	::slot(textShape-657)
	{
		height: 607.000pt;
		left: 408.000pt;
		top: 98.400pt;
		width: 564.000pt;
		z-index: 3;
	}
	::slot(image-288)
	{
		height: 43.000pt;
		left: 410.667pt;
		top: 129.000pt;
		width: 28.368pt;
		z-index: 4;
	}
	::slot(frame-6)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 380.000pt;
		left: 398.000pt;
		top: 238.000pt;
		width: 584.000pt;
		z-index: 5;
	}
	::slot(textShape-516)
	{
		height: 0.012pt;
		left: -9.000pt;
		top: 69.000pt;
		width: 1041.410pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: textShape-654, textShape-656, textShape-657, image-288, frame-6, textShape-516;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(textShape-981)
	{
		height: 607.000pt;
		left: 408.000pt;
		top: 98.400pt;
		width: 564.000pt;
		z-index: 1;
	}
	::slot(textShape-969)
	{
		height: 28.000pt;
		left: 50.000pt;
		top: 707.000pt;
		width: 488.000pt;
		z-index: 2;
	}
	::slot(frame-7)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 387.000pt;
		left: 413.000pt;
		top: 193.000pt;
		width: 537.000pt;
		z-index: 3;
	}
	::slot(textShape-971)
	{
		height: 20.000pt;
		left: 836.000pt;
		top: 715.000pt;
		width: 137.000pt;
		z-index: 4;
	}
	::slot(textShape-517)
	{
		height: 0.012pt;
		left: -9.000pt;
		top: 69.000pt;
		width: 1041.410pt;
		z-index: 5;
	}
	-ibooks-positioned-slots: textShape-981, textShape-969, frame-7, textShape-971, textShape-517;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(textShape-986)
	{
		height: 607.000pt;
		left: 408.000pt;
		top: 98.400pt;
		width: 564.000pt;
		z-index: 1;
	}
	::slot(frame-8)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 387.000pt;
		left: 413.000pt;
		top: 156.000pt;
		width: 537.000pt;
		z-index: 2;
	}
	::slot(textShape-987)
	{
		height: 410.000pt;
		left: 49.000pt;
		top: 161.000pt;
		width: 326.000pt;
		z-index: 3;
	}
	::slot(textShape-983)
	{
		height: 28.000pt;
		left: 50.000pt;
		top: 707.000pt;
		width: 488.000pt;
		z-index: 4;
	}
	::slot(textShape-985)
	{
		height: 20.000pt;
		left: 836.000pt;
		top: 715.000pt;
		width: 137.000pt;
		z-index: 5;
	}
	::slot(textShape-518)
	{
		height: 0.012pt;
		left: -9.000pt;
		top: 69.000pt;
		width: 1041.410pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: textShape-986, frame-8, textShape-987, textShape-983, textShape-985, textShape-518;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(textShape-992)
	{
		height: 607.000pt;
		left: 408.000pt;
		top: 98.400pt;
		width: 564.000pt;
		z-index: 1;
	}
	::slot(frame-9)
	{
		-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
		height: 397.000pt;
		left: 418.000pt;
		top: 176.000pt;
		width: 537.000pt;
		z-index: 2;
	}
	::slot(textShape-989)
	{
		height: 28.000pt;
		left: 50.000pt;
		top: 707.000pt;
		width: 488.000pt;
		z-index: 3;
	}
	::slot(textShape-991)
	{
		height: 20.000pt;
		left: 836.000pt;
		top: 715.000pt;
		width: 137.000pt;
		z-index: 4;
	}
	::slot(textShape-519)
	{
		height: 0.012pt;
		left: -9.000pt;
		top: 69.000pt;
		width: 1041.410pt;
		z-index: 5;
	}
	-ibooks-positioned-slots: textShape-992, frame-9, textShape-989, textShape-991, textShape-519;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(textShape-9)
	{
		height: 607.000pt;
		left: 408.000pt;
		top: 98.400pt;
		width: 564.000pt;
		z-index: 1;
	}
	::slot(image-1)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 43.000pt;
		left: 407.000pt;
		top: 446.000pt;
		width: 390.794pt;
		z-index: 2;
	}
	::slot(textShape-1)
	{
		height: 28.000pt;
		left: 50.000pt;
		top: 707.000pt;
		width: 488.000pt;
		z-index: 3;
	}
	::slot(textShape-8)
	{
		height: 20.000pt;
		left: 836.000pt;
		top: 715.000pt;
		width: 137.000pt;
		z-index: 4;
	}
	::slot(textShape-520)
	{
		height: 0.012pt;
		left: -9.000pt;
		top: 69.000pt;
		width: 1041.410pt;
		z-index: 5;
	}
	-ibooks-positioned-slots: textShape-9, image-1, textShape-1, textShape-8, textShape-520;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(textShape-49)
	{
		height: 607.000pt;
		left: 408.000pt;
		top: 98.400pt;
		width: 564.000pt;
		z-index: 1;
	}
	::slot(textShape-46)
	{
		height: 28.000pt;
		left: 50.000pt;
		top: 707.000pt;
		width: 488.000pt;
		z-index: 2;
	}
	::slot(textShape-48)
	{
		height: 20.000pt;
		left: 836.000pt;
		top: 715.000pt;
		width: 137.000pt;
		z-index: 3;
	}
	::slot(image-37)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 381.982pt;
		left: 427.333pt;
		top: 164.000pt;
		width: 262.000pt;
		z-index: 4;
	}
	::slot(textShape-521)
	{
		height: 0.012pt;
		left: -9.000pt;
		top: 69.000pt;
		width: 1041.410pt;
		z-index: 5;
	}
	-ibooks-positioned-slots: textShape-49, textShape-46, textShape-48, image-37, textShape-521;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(textShape-56)
	{
		height: 688.000pt;
		left: 408.000pt;
		top: 98.400pt;
		width: 564.000pt;
		z-index: 1;
	}
	::slot(image-8)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 127.154pt;
		left: 427.000pt;
		top: 302.000pt;
		width: 408.000pt;
		z-index: 2;
	}
	::slot(image-10)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 554.000pt;
		left: 46.000pt;
		top: 109.914pt;
		width: 305.000pt;
		z-index: 3;
	}
	::slot(textShape-51)
	{
		height: 28.000pt;
		left: 50.000pt;
		top: 707.000pt;
		width: 488.000pt;
		z-index: 4;
	}
	::slot(textShape-54)
	{
		height: 20.000pt;
		left: 836.000pt;
		top: 715.000pt;
		width: 137.000pt;
		z-index: 5;
	}
	::slot(textShape-522)
	{
		height: 0.012pt;
		left: -9.000pt;
		top: 69.000pt;
		width: 1041.410pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: textShape-56, image-8, image-10, textShape-51, textShape-54, textShape-522;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(textShape-150)
	{
		height: 616.000pt;
		left: 399.000pt;
		top: 104.400pt;
		width: 564.000pt;
		z-index: 1;
	}
	::slot(group-1-gen)
	{
		height: 192.272pt;
		left: 402.000pt;
		top: 215.000pt;
		width: 480.000pt;
		z-index: 2;
	}
	::slot(textShape-151)
	{
		height: 267.000pt;
		left: 402.000pt;
		top: 438.000pt;
		width: 592.000pt;
		z-index: 3;
	}
	::slot(textShape-147)
	{
		height: 28.000pt;
		left: 50.000pt;
		top: 707.000pt;
		width: 488.000pt;
		z-index: 4;
	}
	::slot(textShape-149)
	{
		height: 20.000pt;
		left: 836.000pt;
		top: 715.000pt;
		width: 137.000pt;
		z-index: 5;
	}
	::slot(textShape-523)
	{
		height: 0.012pt;
		left: -9.000pt;
		top: 69.000pt;
		width: 1041.410pt;
		z-index: 6;
	}
	-ibooks-positioned-slots: textShape-150, group-1-gen, textShape-151, textShape-147, textShape-149, textShape-523;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(textShape-156)
	{
		height: 616.000pt;
		left: 399.000pt;
		top: 104.400pt;
		width: 564.000pt;
		z-index: 1;
	}
	::slot(textShape-80)
	{
		height: 288.000pt;
		left: 49.000pt;
		top: 355.000pt;
		width: 314.000pt;
		z-index: 2;
	}
	::slot(image-38)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 381.000pt;
		left: 399.829pt;
		top: 294.000pt;
		width: 558.008pt;
		z-index: 3;
	}
	::slot(textShape-60)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 86.000pt;
		left: 400.000pt;
		top: 319.000pt;
		width: 103.000pt;
		z-index: 4;
	}
	::slot(textShape-153)
	{
		height: 28.000pt;
		left: 50.000pt;
		top: 707.000pt;
		width: 488.000pt;
		z-index: 5;
	}
	::slot(textShape-61)
	{
		height: 0.000pt;
		left: 363.462pt;
		top: 366.000pt;
		width: 37.373pt;
		z-index: 6;
	}
	::slot(textShape-62)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 41.000pt;
		left: 503.000pt;
		top: 331.000pt;
		width: 69.000pt;
		z-index: 7;
	}
	::slot(textShape-155)
	{
		height: 20.000pt;
		left: 836.000pt;
		top: 715.000pt;
		width: 137.000pt;
		z-index: 8;
	}
	::slot(textShape-63)
	{
		height: 0.000pt;
		left: 365.496pt;
		top: 514.000pt;
		width: 175.998pt;
		z-index: 9;
	}
	::slot(textShape-64)
	{
		height: 0.000pt;
		left: 518.985pt;
		top: 392.311pt;
		width: 39.402pt;
		z-index: 10;
	}
	::slot(textShape-84)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 11.000pt;
		left: 636.000pt;
		top: 442.500pt;
		width: 122.000pt;
		z-index: 11;
	}
	::slot(textShape-85)
	{
		height: 0.005pt;
		left: 362.000pt;
		top: 412.000pt;
		width: 177.585pt;
		z-index: 12;
	}
	::slot(textShape-86)
	{
		height: 0.001pt;
		left: 507.481pt;
		top: 481.468pt;
		width: 67.038pt;
		z-index: 13;
	}
	::slot(textShape-87)
	{
		height: 0.000pt;
		left: 541.000pt;
		top: 448.000pt;
		width: 95.183pt;
		z-index: 14;
	}
	::slot(textShape-524)
	{
		height: 0.012pt;
		left: -9.000pt;
		top: 69.000pt;
		width: 1041.410pt;
		z-index: 15;
	}
	-ibooks-positioned-slots: textShape-156, textShape-80, image-38, textShape-60, textShape-153, textShape-61, textShape-62, textShape-155, textShape-63, textShape-64, textShape-84, textShape-85, textShape-86, textShape-87, textShape-524;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(textShape-161)
	{
		height: 616.000pt;
		left: 399.000pt;
		top: 104.400pt;
		width: 564.000pt;
		z-index: 1;
	}
	::slot(textShape-158)
	{
		height: 28.000pt;
		left: 50.000pt;
		top: 707.000pt;
		width: 488.000pt;
		z-index: 2;
	}
	::slot(image-6)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 381.600pt;
		left: 399.833pt;
		top: 302.000pt;
		width: 558.000pt;
		z-index: 3;
	}
	::slot(textShape-88)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 8.000pt;
		left: 400.000pt;
		top: 361.000pt;
		width: 101.000pt;
		z-index: 4;
	}
	::slot(textShape-160)
	{
		height: 20.000pt;
		left: 836.000pt;
		top: 715.000pt;
		width: 137.000pt;
		z-index: 5;
	}
	::slot(textShape-89)
	{
		height: 28.000pt;
		left: 222.000pt;
		top: 356.000pt;
		width: 137.000pt;
		z-index: 6;
	}
	::slot(textShape-91)
	{
		height: 0.000pt;
		left: 363.462pt;
		top: 366.000pt;
		width: 37.373pt;
		z-index: 7;
	}
	::slot(textShape-525)
	{
		height: 0.012pt;
		left: -9.000pt;
		top: 69.000pt;
		width: 1041.410pt;
		z-index: 8;
	}
	-ibooks-positioned-slots: textShape-161, textShape-158, image-6, textShape-88, textShape-160, textShape-89, textShape-91, textShape-525;
}

@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(textShape-195)
	{
		height: 616.000pt;
		left: 399.000pt;
		top: 104.400pt;
		width: 564.000pt;
		z-index: 1;
	}
	::slot(textShape-177)
	{
		height: 28.000pt;
		left: 50.000pt;
		top: 707.000pt;
		width: 488.000pt;
		z-index: 2;
	}
	::slot(textShape-179)
	{
		height: 20.000pt;
		left: 836.000pt;
		top: 715.000pt;
		width: 137.000pt;
		z-index: 3;
	}
	::slot(textShape-526)
	{
		height: 0.012pt;
		left: -9.000pt;
		top: 69.000pt;
		width: 1041.410pt;
		z-index: 4;
	}
	-ibooks-positioned-slots: textShape-195, textShape-177, textShape-179, textShape-526;
}

