<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BKAllocatedSize</key>
	<integer>127471616</integer>
	<key>BKDisplayName</key>
	<string>mzbf.cfxajuis..d2.dlv.d2.dlv.ibooks</string>
	<key>BKGenerationCount</key>
	<integer>2</integer>
	<key>BKITunesMigratedMetadata</key>
	<dict>
		<key>PersistentID</key>
		<integer>-2102124007459404883</integer>
	</dict>
	<key>BKInsertionDate</key>
	<integer>487651056</integer>
	<key>apple-id</key>
	<string>gnu.hua@gmail.com</string>
	<key>artistId</key>
	<integer>939801385</integer>
	<key>artistName</key>
	<string>Apple Education</string>
	<key>asset-info</key>
	<dict>
		<key>file-size</key>
		<integer>112718981</integer>
		<key>flavor</key>
		<string>pluspub</string>
	</dict>
	<key>book-info</key>
	<dict>
		<key>PageProgression</key>
		<string>default</string>
		<key>asset-info</key>
		<dict>
			<key>file-size</key>
			<integer>112718981</integer>
			<key>flavor</key>
			<string>pluspub</string>
		</dict>
		<key>languages</key>
		<array>
			<string>en</string>
		</array>
		<key>package-file-hash</key>
		<string>E08F6D91A291D24E0921CDC9A7BB3A9C</string>
		<key>publication-version</key>
		<integer>161848864</integer>
	</dict>
	<key>cover-writing-mode</key>
	<string>horizontal</string>
	<key>desktopSupportLevel</key>
	<string>supported</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>explicit</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>ibooks</string>
	<key>genre</key>
	<string>Education</string>
	<key>genreId</key>
	<integer>10037</integer>
	<key>human-friendly-publication-version</key>
	<string>1.1</string>
	<key>isPreview</key>
	<false/>
	<key>itemId</key>
	<string>1118578018</string>
	<key>itemName</key>
	<string>Swift Playgrounds</string>
	<key>kind</key>
	<string>ebook</string>
	<key>languages</key>
	<array>
		<string>en</string>
	</array>
	<key>obeyPageBreaks</key>
	<integer>1</integer>
	<key>pageCount</key>
	<integer>70</integer>
	<key>primaryLanguage</key>
	<string>en</string>
	<key>publisher</key>
	<string>Apple Inc. - Education</string>
	<key>purchaseDate</key>
	<string>2016-06-15T02:35:26Z</string>
	<key>releaseDate</key>
	<string>2016-06-13T07:00:00Z</string>
	<key>s</key>
	<integer>143441</integer>
	<key>scroll-axis</key>
	<string>default</string>
	<key>seriesAdamId</key>
	<integer>1118575554</integer>
	<key>seriesSequenceDisplaySuppress</key>
	<false/>
	<key>seriesTitle</key>
	<string>Everyone Can Code</string>
	<key>shouldDisableOptimizeSpeed</key>
	<true/>
	<key>shouldDisableTouchEmulation</key>
	<true/>
	<key>sort-artist</key>
	<string>Education, Apple</string>
	<key>sort-name</key>
	<string>Swift Playgrounds</string>
	<key>subtitle</key>
	<string>Teacher Guide</string>
	<key>vendorId</key>
	<integer>379015</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
	<key>year</key>
	<string>2016</string>
</dict>
</plist>
