@namespace ibooks "http://www.apple.com/2011/iBooks";
#textShape-113{
	-ibooks-line-hints: textShape-113 p url(../hints/content5-paginated.plist) 18 1;
}
#textShape-111{
	-ibooks-line-hints: textShape-111 p url(../hints/content5-paginated.plist) 17 1;
}
#textShape-31{
	-ibooks-line-hints: textShape-31 p url(../hints/content5-paginated.plist) 19 1;
}
#textShape-53{
	-ibooks-line-hints: textShape-53 p url(../hints/content5-paginated.plist) 0 1;
}
#textShape-799{
	-ibooks-line-hints: textShape-799 p url(../hints/content5-paginated.plist) 2 15;
}
#textShape-982{
	-ibooks-line-hints: textShape-982 p url(../hints/content5-paginated.plist) 1 1;
}
@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(textShape-50)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 818.000pt;
		left: 0.000pt;
		top: -35.000pt;
		width: 1042.000pt;
		z-index: 1;
	}
	::slot(textShape-51)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 378.000pt;
		left: -11.000pt;
		top: 370.000pt;
		width: 1038.000pt;
		z-index: 2;
	}
	::slot(textShape-53)
	{
		height: 45.000pt;
		left: 50.000pt;
		top: 292.000pt;
		width: 942.000pt;
		z-index: 3;
	}
	::slot(textShape-982)
	{
		height: 20.000pt;
		left: 836.000pt;
		top: 715.000pt;
		width: 137.000pt;
		z-index: 4;
	}
	::slot(textShape-799)
	{
		height: 298.000pt;
		left: 50.316pt;
		top: 400.000pt;
		width: 916.000pt;
		z-index: 5;
	}
	::slot(framethumb-40)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 117.000pt;
		left: 815.000pt;
		top: 286.000pt;
		width: 112.000pt;
		z-index: 6;
	}
	::slot(textShape-111)
	{
		height: 100.000pt;
		left: 278.000pt;
		top: 120.000pt;
		width: 200.000pt;
		z-index: 7;
	}
	::slot(textShape-113)
	{
		height: 117.000pt;
		left: 50.000pt;
		top: 178.000pt;
		width: 391.000pt;
		z-index: 8;
	}
	::slot(image-8)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
		height: 40.000pt;
		left: 934.000pt;
		top: 292.000pt;
		width: 40.000pt;
		z-index: 9;
	}
	::slot(textShape-31)
	{
		height: 71.000pt;
		left: 934.000pt;
		top: 276.000pt;
		width: 41.000pt;
		z-index: 10;
	}
	-ibooks-positioned-slots: textShape-50, textShape-51, textShape-53, textShape-982, textShape-799, framethumb-40, textShape-111, textShape-113, image-8, textShape-31;
}

