@namespace ibooks "http://www.apple.com/2011/iBooks";
@font-face{
  font-family: "MyriadSetPro-Thin";
  font-weight: 300;
  font-style: normal;
  font-stretch: condensed;
  src: url("../fonts/MyriadSetPro-thin.ttf");
}
@font-face{
  font-family: "MyriadSetOT-Text";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/Myriad%20Set%20Cyr%20Txt.otf");
}
@font-face{
  font-family: "MyriadSetPro-Semibold";
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/MyriadSetPro-semibold.ttf");
}
@font-face{
  font-family: "MyriadSetPro-Text";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  src: url("../fonts/MyriadSetPro-text.ttf");
}
sup{
	font-size: 67%;
	vertical-align: 33%;
}
a.anchor{
	-ibooks-layout-hint: anchor;
	display: none;
}
a.pageShape{
	-ibooks-layout-hint: anchor page shape;
	display: none;
}
.pagebreak{
	break-after: page;
}
div.multichoice{
	list-style-type: upper-alpha;
}
.columnbreak{
	break-after: column;
}
p, ul, ol{
	margin: 0px;
}
a.shape{
	-ibooks-layout-hint: shape;
	display: none;
}
body{
	white-space: pre-wrap;
}
.hide{
	display: none;
}
sub{
	font-size: 67%;
	vertical-align: -10%;
}
a.attachment{
	-ibooks-layout-hint: inline;
	display: none;
}
table{
	border-collapse: collapse;
	white-space: pre-wrap;
}
.inlineblock{
	display: inline;
}
a.page{
	-ibooks-layout-hint: anchor page;
	display: none;
}
.s1{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: none;
	opacity: 1.000;
	stroke: none;
}
.s2{
	-ibooks-column-count: 1;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	vertical-align: top;
}
.s3{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #FFFFFF;
	font-family: "MyriadSetOT-Text";
	font-size: 108.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 1.00em;
	margin-bottom: 10.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: right;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s4{
	-ibooks-list-text-indent: 0.00pt;
	color: #7F7F7F;
}
.s5{
	-ibooks-stroke: none;
	box-shadow: none;
	fill: #EBEBEB;
	opacity: 1.000;
	stroke: #818181;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 1.0pt;
}
.s6{
	-ibooks-stroke: none;
	border-radius: 3.000;
	box-shadow: none;
	fill: #EBEBEB;
	opacity: 1.000;
	padding: 6.000;
	stroke: #818181;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 1.0pt;
}
.s7{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #232323;
	font-family: "Georgia";
	font-size: 133.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.20em;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s8{
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-color: #CBCBCB;
	border-bottom-style: solid;
	border-bottom-width: 1.00px;
	color: #232323;
	font-family: "MyriadSetPro-Semibold";
	font-size: 141.67%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.00em;
	margin-bottom: 10.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 34.00pt;
	padding-bottom: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: uppercase;
	vertical-align: 0;
}
.s9{
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "MyriadSetPro-Text";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 12.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s10{
	padding-left: 0;
}
.s11{
	-ibooks-bullet-baseline: 0.00pt;
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 18.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "MyriadSetPro-Text";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	list-style-position: -ibooks-inside-align-to-text;
	list-style-type: decimal;
	margin-bottom: 12.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s12{
	-ibooks-line-spacing-mode: exact;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "MyriadSetPro-Text";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	margin-bottom: 12.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s13{
	-ibooks-list-text-indent: 0.00pt;
}
.s14{
	-ibooks-line-spacing-mode: exact;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #515151;
	font-family: "MyriadSetPro-Text";
	font-size: 83.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 22.00pt;
	margin-bottom: 15.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s15{
	-ibooks-list-text-indent: 0.00pt;
	font-size: 100.00%;
	tab-stops: '' left 117.0pt;
}
.s16{
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #000000;
	font-family: "MyriadSetPro-Thin";
	font-size: 200.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 1.00em;
	margin-bottom: 6.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 18.00pt;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s17{
	-ibooks-list-text-indent: 0.00pt;
	color: #797979;
}
.s18{
	-ibooks-stroke: none;
	box-shadow: -0.0pt 5.0pt 12.0pt rgba(0,0,0,0.400000);
	fill: #FFFFFF;
	opacity: 1.000;
	stroke: #A6A6A6;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4.0;
	stroke-width: 1.0pt;
}
.s19{
	stroke: #818181;
}
.s20{
	padding-bottom: 4.00pt;
	padding-left: 4.00pt;
	padding-right: 4.00pt;
	padding-top: 4.00pt;
}
.s21{
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "MyriadSetPro-Semibold";
	font-size: 158.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	hyphens: auto;
	letter-spacing: 0;
	line-height: 25.00pt;
	margin-bottom: 2.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s22{
	counter-reset: item 1;
	padding-left: 0;
}
.s23{
	-ibooks-bullet-baseline: 0.00pt;
	-ibooks-list-text-indent: 18.00pt;
	list-style-position: -ibooks-inside-align-to-text;
	list-style-type: decimal;
}
.s24{
	background-color: #DADBDB;
	border-bottom: 0.250pt solid #606060;
	border-left: none;
	border-right: none;
	border-top: none;
	padding: 4.0pt 4.0pt;
	text-align: left;
	vertical-align: middle;
	white-space: pre-wrap;
}
.s25{
	-ibooks-line-spacing-mode: exact;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #232323;
	font-family: "MyriadSetPro-Text";
	font-size: 133.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 20.00pt;
	margin-bottom: 20.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s26{
	-ibooks-list-text-indent: 0.00pt;
	font-family: "MyriadSetPro-Semibold";
	font-weight: bold;
	margin-bottom: 0;
}
.s27{
	background-color: #F2F2F2;
	border-bottom: 0.250pt solid #606060;
	border-left: none;
	border-right: none;
	border-top: 0.250pt solid #606060;
	padding: 4.0pt 4.0pt;
	text-align: left;
	vertical-align: middle;
	white-space: pre-wrap;
}
.s28{
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 0.00pt;
	-ibooks-strikethru-type: none;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-type: none;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #232323;
	font-family: "MyriadSetPro-Text";
	font-size: 133.33%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 20.00pt;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.s29{
	background-color: #FFFFFF;
	border-bottom: 0.250pt solid #606060;
	border-left: none;
	border-right: none;
	border-top: 0.250pt solid #606060;
	padding: 4.0pt 4.0pt;
	text-align: left;
	vertical-align: middle;
	white-space: pre-wrap;
}
.s30{
	-ibooks-bullet-baseline: 0.00pt;
	-ibooks-custom-bullet: "•";
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 14.40pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "MyriadSetPro-Text";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	list-style-position: -ibooks-inside-align-to-text;
	margin-bottom: 12.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.s31{
	-ibooks-bullet-baseline: 0.00pt;
	-ibooks-custom-bullet: "•";
	-ibooks-list-text-indent: 14.40pt;
	letter-spacing: -0.02em;
	list-style-position: -ibooks-inside-align-to-text;
}
.s32{
	padding-left: 30.00pt;
}
.s33{
	-ibooks-bullet-baseline: 0.00pt;
	-ibooks-custom-bullet: "-";
	-ibooks-list-text-indent: 15.00pt;
	list-style-position: -ibooks-inside-align-to-text;
}
.s34{
	-ibooks-bullet-baseline: 0.00pt;
	-ibooks-custom-bullet: "-";
	-ibooks-line-spacing-mode: exact;
	-ibooks-list-text-indent: 15.00pt;
	-ibooks-strikethru-width: 1.00px;
	-ibooks-underline-width: 1.00px;
	border-bottom-style: none;
	border-bottom-width: 0;
	border-left-style: none;
	border-left-width: 0;
	border-right-style: none;
	border-right-width: 0;
	border-top-style: none;
	border-top-width: 0;
	color: #424242;
	font-family: "MyriadSetPro-Text";
	font-size: 150.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	hyphens: none;
	letter-spacing: 0;
	line-height: 23.00pt;
	list-style-position: -ibooks-inside-align-to-text;
	margin-bottom: 12.00pt;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	page-break-before: auto;
	tab-interval: 36.00pt;
	tab-stops: none;
	text-align: left;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
}
.c1{
	background: transparent;
}
.c2{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #929292;
	font-family: "MyriadSetPro-Text";
	font-size: 82.35%;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
.c3{
	-ibooks-strikethru-type: none;
	-ibooks-underline-type: none;
	background: transparent;
	color: #5568A1;
	font-family: "MyriadSetPro-Semibold";
	font-size: 100.00%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: 0;
	text-shadow: none;
	text-transform: none;
	vertical-align: 0;
	text-decoration: none;
}
#textShape-858-svg{
	height: 625.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 566.000pt;
}
#image-148{
	-ibooks-slot: image-148;
	display: block;
}
#textShape-846-div{
	height: 196.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 337.000pt;
}
#viewport-popup-158-alt{
	display: block;
	height: 213.0pt;
	left: -0.5pt;
	top: -0.5pt;
	visibility: hidden;
	width: 293.0pt;
}
#textShape-843-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 137.000pt;
}
#viewport-popup-160-alt{
	display: block;
	height: 348.0pt;
	left: -0.5pt;
	top: -0.5pt;
	visibility: hidden;
	width: 385.0pt;
}
#framethumb-5-gutter{
	height: 40.0pt;
	left: 0;
	top: 0;
	width: 40.0pt;
}
#textShape-849{
	-ibooks-slot: textShape-849;
	display: block;
}
#textShape-847-svg{
	height: 173.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 268.000pt;
}
#textShape-23-svg{
	height: 104.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 256.000pt;
}
#textShape-861{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
	-ibooks-line-hints: textShape-861 p url(../hints/content16-paginated.plist) 121 14;
	display: block;
	height: 454.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 516.000pt;
}
#textShape-23{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
	-ibooks-line-hints: textShape-23 p url(../hints/content16-paginated.plist) 67 4;
	display: block;
	height: 104.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 256.000pt;
}
#textShape-850{
	-ibooks-slot: textShape-850;
	display: block;
}
#image-411-gutter{
	height: 113.0pt;
	left: 0;
	top: 0;
	width: 113.0pt;
}
#textShape-93{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
	-ibooks-line-hints: textShape-93 p url(../hints/content16-paginated.plist) 71 17;
	display: block;
	height: 487.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 426.000pt;
}
#viewport-popup-161-alt{
	display: block;
	height: 528.0pt;
	left: -0.5pt;
	top: -0.5pt;
	visibility: hidden;
	width: 541.0pt;
}
#textShape-93-svg{
	height: 487.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 426.000pt;
}
#textShape-861-div{
	height: 454.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 516.000pt;
}
#textShape-859{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
	-ibooks-line-hints: textShape-859 p url(../hints/content16-paginated.plist) 108 13;
	display: block;
	height: 311.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 360.000pt;
}
#viewport-popup-161{
	-ibooks-slot: viewport-popup-161;
	display: block;
}
#textShape-848{
	-ibooks-slot: textShape-848;
	display: block;
}
#viewport-popup-161-background{
	-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
	display: block;
	height: 527.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 540.000pt;
}
#image-152{
	-ibooks-slot: image-152;
	display: block;
}
#textShape-23-div{
	height: 104.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 256.000pt;
}
#textShape-850-div{
	height: 580.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 566.000pt;
}
#textShape-860{
	-ibooks-slot: textShape-860;
	display: block;
}
#framethumb-42-gutter{
	height: 51.0pt;
	left: 0;
	top: 0;
	width: 51.0pt;
}
#viewport-popup-158{
	-ibooks-slot: viewport-popup-158;
	display: block;
}
#textShape-854-div{
	height: 28.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 488.000pt;
}
#table-27{
	-ibooks-slot: table-27;
	display: block;
}
#textShape-858-div{
	height: 625.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 566.000pt;
}
#textShape-855-svg{
	height: 190.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 560.000pt;
}
#textShape-858{
	-ibooks-slot: textShape-858;
	display: block;
}
#textShape-843-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 137.000pt;
}
#image-53{
	-ibooks-slot: image-53;
	display: block;
}
#textShape-847{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
	-ibooks-line-hints: textShape-847 p url(../hints/content16-paginated.plist) 38 7;
	display: block;
	height: 173.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 268.000pt;
}
#textShape-859-svg{
	height: 311.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 360.000pt;
}
#image-144{
	-ibooks-slot: image-144;
	display: block;
}
#textShape-847-div{
	height: 173.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 268.000pt;
}
#image-411{
	-ibooks-slot: image-411;
	display: block;
}
#textShape-844-svg{
	height: 680.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 564.000pt;
}
#image-425{
	-ibooks-slot: image-425;
	display: block;
}
#textShape-848-svg{
	height: 360.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 253.000pt;
}
#image-147{
	-ibooks-slot: image-147;
	display: block;
}
#viewport-popup-25-background{
	-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
	display: block;
	height: 545.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 450.000pt;
}
#image-35{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
	display: block;
	height: 40.000pt;
	left: 54.000pt;
	position: absolute;
	top: 59.500pt;
	width: 40.000pt;
}
#framethumb-11-gutter{
	height: 40.0pt;
	left: 0;
	top: 0;
	width: 40.0pt;
}
#framethumb-11-alt{
	display: block;
	height: 39.9pt;
	left: 36.0pt;
	top: 7.0pt;
	visibility: hidden;
	width: 39.9pt;
}
#textShape-857{
	-ibooks-slot: textShape-857;
	display: block;
}
#viewport-popup-157-background{
	-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
	display: block;
	height: 237.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 361.000pt;
}
#textShape-846{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
	-ibooks-line-hints: textShape-846 p url(../hints/content16-paginated.plist) 30 8;
	display: block;
	height: 196.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 337.000pt;
}
#image-425-gutter{
	height: 113.0pt;
	left: 0;
	top: 0;
	width: 113.0pt;
}
#image-426-gutter{
	height: 113.0pt;
	left: 0;
	top: 0;
	width: 113.0pt;
}
#image-17{
	-ibooks-slot: image-17;
	display: block;
}
#image-67{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
	display: block;
	height: 40.000pt;
	left: 36.000pt;
	position: absolute;
	top: 7.000pt;
	width: 40.000pt;
}
#viewport-popup-7-alt{
	display: block;
	height: 144.0pt;
	left: -0.5pt;
	top: -0.5pt;
	visibility: hidden;
	width: 281.0pt;
}
#textShape-855-div{
	height: 190.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 560.000pt;
}
#textShape-845{
	-ibooks-slot: textShape-845;
	display: block;
}
#textShape-852-svg{
	height: 28.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 488.000pt;
}
#image-151{
	-ibooks-slot: image-151;
	display: block;
}
#textShape-93-div{
	height: 487.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 426.000pt;
}
#textShape-859-div{
	height: 311.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 360.000pt;
}
#viewport-popup-7-background{
	-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
	display: block;
	height: 143.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 280.000pt;
}
#textShape-844-div{
	height: 680.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 564.000pt;
}
#viewport-popup-25-alt{
	display: block;
	height: 546.0pt;
	left: -0.5pt;
	top: -0.5pt;
	visibility: hidden;
	width: 451.0pt;
}
#textShape-848-div{
	height: 360.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 253.000pt;
}
#framethumb-11{
	-ibooks-slot: framethumb-11;
	display: block;
}
#textShape-845-svg{
	height: 28.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 488.000pt;
}
#textShape-855{
	-ibooks-slot: textShape-855;
	display: block;
}
#textShape-849-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 137.000pt;
}
#textShape-844{
	-ibooks-slot: textShape-844;
	display: block;
}
#textShape-323-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 137.000pt;
}
#image-143{
	-ibooks-slot: image-143;
	display: block;
}
#image-410{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
	display: block;
	height: 51.000pt;
	left: 50.000pt;
	position: absolute;
	top: 10.000pt;
	width: 51.000pt;
}
#viewport-popup-160-background{
	-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
	display: block;
	height: 347.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 384.000pt;
}
#image-146{
	-ibooks-slot: image-146;
	display: block;
}
#image-17-gutter{
	height: 113.0pt;
	left: 0;
	top: 0;
	width: 113.0pt;
}
#viewport-popup-7{
	-ibooks-slot: viewport-popup-7;
	display: block;
}
#textShape-860-svg{
	height: 28.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 488.000pt;
}
#textShape-854{
	-ibooks-slot: textShape-854;
	display: block;
}
#viewport-popup-160{
	-ibooks-slot: viewport-popup-160;
	display: block;
}
#textShape-843{
	-ibooks-slot: textShape-843;
	display: block;
}
#textShape-852-div{
	height: 28.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 488.000pt;
}
#framethumb-42-alt{
	display: block;
	height: 50.8pt;
	left: 50.0pt;
	top: 10.0pt;
	visibility: hidden;
	width: 50.8pt;
}
#image-149{
	-ibooks-slot: image-149;
	display: block;
}
#framethumb-42{
	-ibooks-slot: framethumb-42;
	display: block;
}
#framethumb-5-alt{
	display: block;
	height: 39.9pt;
	left: 54.0pt;
	top: 59.5pt;
	visibility: hidden;
	width: 39.9pt;
}
#viewport-popup-157{
	-ibooks-slot: viewport-popup-157;
	display: block;
}
#image-15{
	-ibooks-slot: image-15;
	display: block;
}
#textShape-853-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 137.000pt;
}
#media-1{
	-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.500000 false;
	display: block;
	height: 654.750pt;
	left: 13.000pt;
	position: absolute;
	top: 10.000pt;
	width: 873.000pt;
}
#image-53-gutter{
	height: 113.0pt;
	left: 0;
	top: 0;
	width: 113.0pt;
}
#textShape-857-svg{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 137.000pt;
}
#textShape-845-div{
	height: 28.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 488.000pt;
}
#textShape-853{
	-ibooks-slot: textShape-853;
	display: block;
}
#textShape-849-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 137.000pt;
}
#image-150{
	-ibooks-slot: image-150;
	display: block;
}
#textShape-846-svg{
	height: 196.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 337.000pt;
}
#framethumb-5{
	-ibooks-slot: framethumb-5;
	display: block;
}
#textShape-323-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 137.000pt;
}
#textShape-852{
	-ibooks-slot: textShape-852;
	display: block;
}
#image-412-gutter{
	height: 113.0pt;
	left: 0;
	top: 0;
	width: 113.0pt;
}
#textShape-860-div{
	height: 28.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 488.000pt;
}
#textShape-323{
	-ibooks-slot: textShape-323;
	display: block;
}
#textShape-861-svg{
	height: 454.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 516.000pt;
}
#viewport-popup-157-alt{
	display: block;
	height: 238.0pt;
	left: -0.5pt;
	top: -0.5pt;
	visibility: hidden;
	width: 362.0pt;
}
#viewport-popup-25{
	-ibooks-slot: viewport-popup-25;
	display: block;
}
#viewport-popup-158-background{
	-ibooks-box-wrap-exterior-path: directional rectangular both 12.0pt 0.500000 false;
	display: block;
	height: 212.000pt;
	left: 0.000pt;
	position: absolute;
	top: 0.000pt;
	width: 292.000pt;
}
#textShape-853-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 137.000pt;
}
#image-145{
	-ibooks-slot: image-145;
	display: block;
}
#textShape-850-svg{
	height: 580.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 566.000pt;
}
#image-412{
	-ibooks-slot: image-412;
	display: block;
}
#textShape-857-div{
	height: 20.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 137.000pt;
}
#image-426{
	-ibooks-slot: image-426;
	display: block;
}
#textShape-854-svg{
	height: 28.000pt;
	left: 0pt;
	position: absolute;
	top: 0pt;
	width: 488.000pt;
}
