@namespace ibooks "http://www.apple.com/2011/iBooks";
#textShape-123{
	-ibooks-line-hints: textShape-123 p url(../hints/content29-paginated.plist) 3 1;
}
#textShape-138{
	-ibooks-line-hints: textShape-138 p url(../hints/content29-paginated.plist) 4 1;
}
#textShape-121{
	-ibooks-line-hints: textShape-121 p url(../hints/content29-paginated.plist) 0 3;
}
@page ::nth-instance
{
	height: 748.0pt;
	width: 1024.0pt;
	::slot(textShape-119)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 794.000pt;
		left: -3.000pt;
		top: -23.000pt;
		width: 1031.000pt;
		z-index: 1;
	}
	::slot(textShape-120)
	{
		-ibooks-box-wrap-exterior-path: directional contour both 12.0pt 0.000000 false;
		height: 384.000pt;
		left: -7.000pt;
		top: 370.000pt;
		width: 1038.000pt;
		z-index: 2;
	}
	::slot(textShape-121)
	{
		height: 254.000pt;
		left: 49.316pt;
		top: 400.000pt;
		width: 916.000pt;
		z-index: 3;
	}
	::slot(textShape-123)
	{
		height: 20.000pt;
		left: 836.000pt;
		top: 715.000pt;
		width: 137.000pt;
		z-index: 4;
	}
	::slot(textShape-138)
	{
		height: 45.000pt;
		left: 50.000pt;
		top: 292.000pt;
		width: 942.000pt;
		z-index: 5;
	}
	-ibooks-positioned-slots: textShape-119, textShape-120, textShape-121, textShape-123, textShape-138;
}

